<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Medley.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1485DD661E01B50B0055FD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1485DD7D1E01B50B0055FD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1485DD881E01B50B0055FD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
